/GNUmakefile
/build/
/.cache/
/.vscode/
*.pyc
.sdk
.stgit-*
.git-submodule-status
.gdb_history
cscope.*
tags
TAGS
GPATH
GRTAGS
GTAGS
*~
*.ast_raw
*.depend_raw
*.swp
*.patch
*.gcov

build.log
/dist
/xemu.ini
/macos-libs/
/macos-pkgs/
/xemu.iconset/

# Common local junk
.DS_Store
Thumbs.db
Desktop.ini
/.idea/

# Local logs and crash dumps
*.log
logcat_*.txt
hs_err_pid*.log
replay_pid*.log
